<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Khalil Refai</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="./static/css/main.css">
  </head>

  <body>
    <main class="main">
        <!--==================== PROJECTS ====================-->
        <section class="projects section" id="projects">
            <h2 class="section__title">Projects</h2>
            <span class="section__subtitle">in Python-Flask <br></span>
            <div class="projects__container container grid">
            <!--==================== Weather App ====================-->
            <div class="projects__content">
                <div>
                    <i class="uil uil-cloud-sun-rain projects__icon"></i>
                    <h3 class="projects__title">Weather<br></h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span>
                    <a class="button button--flex button--small button--link" href="/weather" target="_blank">
                        Check it out!
                    </a>
                </span>
            </div>
            <!--==================== QRCode App ====================-->
            <div class="projects__content">
                <div>
                    <i class="uil uil-qrcode-scan projects__icon"></i>
                    <h3 class="projects__title">QRCode<br></h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </div>
                <span>
                    <a class="button button--flex button--small button--link" href="/decqrcode" target="_blank">
                        Check it out!
                    </a>
                </span>
            </div>
            <!--==================== OCR App ====================-->
            <div class="projects__content">
                <div>
                    <i class="uil uil-focus-target projects__icon"></i>
                    <h3 class="projects__title">OCR<br></h3>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                </div>
                <span>
                    <a class="button button--flex button--small button--link" href="/ocr" target="_blank">
                        Check it out!
                    </a>
                </span>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__bg">
            <div class="footer__container container grid">
                <div>
                    <h1 class="footer__title">Khalil Refai</h1>
                    <span class="footer__subtitle">Software Developer</span>
                </div>
                <ul class="footer__links"></ul>
                <div class="footer__socials">
                    <a href="mailto:khalil.refai.pro@gmail.com" target="_blank" class="footer__social">
                        <i class="fa fa-envelope"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/khalil-refai-34b6a690/" target="_blank" class="footer__social">
                        <i class="uil uil-linkedin-alt"></i>
                    </a>
                    <a href="https://github.com/KhalilRefai/" target="_blank" class="footer__social">
                        <i class="uil uil-github-alt"></i>
                    </a>
                </div>
            </div>
            <p class="footer__copy" style="color:#FFFFFF">© Khalil Refai 2024 - All Rights Reserved</p>
        </div>
    </footer>

    <a href="#" class="scrollup" id="scroll-up"><i class="uil uil-arrow-up scrollup__icon"></i></a>
  </body>
</html>
